* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  color: orange;
}

body {
  display: flex;
  align-content: center;
  background-image: url(./image/background.jpg);
  background-size: 100% 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  padding: 50px 30px;
}

.result {
  border: solid 0.5px orange;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 30px;
}

.books-form {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.inputs {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
  background: none;
  font-weight: 500;
  font-size: 15px;
	border: none;
  border-bottom: 1px solid orange;
	outline: none;
}

.inputs::placeholder {
  color: orange;
  font-weight: bold;
}

.heading {
  width: max-content;
  height: auto;
  font-size: 40px;
}

button {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid orange;
	border-radius: 10%;
	color: orange;
	font-size: 12px;
	padding: 5px 5px;
}

button:hover {
	border: none;
	color: white;
	box-shadow: 25px 11px 60px -40px rgba(255,165,0,0.75) inset;
}

h3 {
  margin-bottom: 10px;
}
